@import "~@blueprintjs/core/lib/scss/variables";

.players-list {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.8);

    .player-name {
        background: $light-gray4;
        box-shadow: 0px 2px 2px 0px $gray5;
        padding: 1em;
        text-transform: uppercase;
    }
    .players-container {
        background: $light-gray5;
        display: flex;
        flex-flow: row wrap;
        padding: 1em;
        .bp3-card {
            margin-right: 1em;
        }
    }
}