@import "~@blueprintjs/core/lib/scss/variables";

.problem-statement {
    margin-bottom: 1em;
    h3 {
        .problem-urgent-label {
            color: $rose4;
        }
        [data-icon='hand-right'] {
            color: $gold5;
        }
    }
}